# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


*   python
*   R

*   Scala

Some of the commonly used libraries used by Data Scientists include:


1.   Sikit learn
2.   Numpy

3.   Tensorflow

| Column 1        | Column 2 | Column 3 | colum 4 |
|----------       |----------|----------|---------|
| DataScience Tools  | Jupyter Lab  | Google collab  | Github

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
x = 8 + 3
print (x)

11

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [3]:
hours = 200/60
print (hours)

3.3333333333333335

**Objectives:**


*   popular languages for Data Science
*   popular Tools for Data Science

# Author
Imalsha Sewwandi